* {
    margin: 0;
    padding: 0;
    /* css3盒子模型，将盒子边距计算省略 */
    box-sizing: border-box;
}

ul {
    list-style: none;
    /*去掉列表样式小点*/
}

a {
    color: #050505;
    text-decoration: none;
    /*取消下划线*/
}

button,
input {
    border: 0;
    outline: none;
}